.tracking-card {
    background-color: $blue-800;
    border-radius: $radius;
    padding: 1.25rem;
    position: relative;
    bottom: -2px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .tracking-card__menu {
            cursor: pointer;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        margin: 0;
        font-weight: $weight-normal;
        font-size: $fs-base;
    }

    &__time {
        font-size: $fs-large;
        font-weight: $weight-light;
    }
    &__prev-period {
        font-weight: $weight-light;
        font-size: $fs-small;
        color: $blue-200;

        display: flex;
        align-items: center;
    }

    &:hover {
        background-color: $blue-500;
    }

    @media (min-width: 1024px) {
        &__header {
            margin-bottom: 0.75rem;
        }
        &__body {
            flex-direction: column;
            align-items: flex-start;
        }
        &__time {
            margin-bottom: 0.75rem;
            font-size: 48px;
        }
    }
}
